<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Project Manager - Home</title>
		<link rel="stylesheet" href="views/css/960.css" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="views/css/template.css" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="views/css/colour.css" type="text/css" media="screen" charset="utf-8" />
	</head>
	<body>
		<h1 id="head">Project Manager<small>Simply manage your projects by <a href="http://twitter.com/kemalkanok"  target="_blank" >@kemalkanok</a></small></h1>

		<ul id="navigation">
			<li><span class="active">Overview</span></li>
			<li><a href="#">News</a></li>
			<li><a href="#">Users</a></li>
		</ul>
		
		<div id="content" class="container_16 clearfix">
			<div class="grid_11">
				<h2>About</h2>
				<p>It's just a little project timing managment project don't expect too much! :)</p>
			</div>
			<div class="grid_5">
				<h2>Recent Projects<br/></h2>
				<ol>
				{projects}
					<li><a title="{title}" href="{url}">{name}...({endtime})</a>({ratio}%)</li>
				{/projects}
				</ol>
			</div>
		</div>

			<div id="foot">
				<i>Designed by </i><a href="http://mathew-davies.co.uk/">Mathew Davies</a> and Coded by <a href="http://twitter.com/kemalkanok" target="_blank" >Kemal Kanok</a>
			</div>
		
	</body>
</html>